* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.products {
    display: flex;
    flex-wrap: wrap;
}
.products li {
    width: 22%;
    margin: 0px 10px;
}