#head {
    text-align: center;
    margin-bottom: 50px;
    padding: 50px 0px;
    border-bottom: 2px solid red;
}

#choice {
    background-color: lightgoldenrodyellow;
    height: 40px;
}
#choice + button {
    height: 40px;
    width: 120px;
}

table {
    margin: 0 auto;
}

.btn {
    height: 150px;
    width: 150px;
    font-size: 60px;
    color: #fff;
    background-color: red;
}
.btn:hover {
    background-color: lightcoral;
}